<div id="<%= dom_id emprestimo %>">
  <p>
    <strong>Cliente:</strong>
    <%= emprestimo.cliente_id %>
  </p>

  <p>
    <strong>Copia filme:</strong>
    <%= emprestimo.copia_filme_id %>
  </p>

  <p>
    <strong>Data emprestimo:</strong>
    <%= emprestimo.data_emprestimo %>
  </p>

  <p>
    <strong>Data prevista devolucao:</strong>
    <%= emprestimo.data_prevista_devolucao %>
  </p>

  <p>
    <strong>Data devolucao efetiva:</strong>
    <%= emprestimo.data_devolucao_efetiva %>
  </p>

  <p>
    <strong>Valor locacao:</strong>
    <%= emprestimo.valor_locacao %>
  </p>

  <p>
    <strong>Valor multa:</strong>
    <%= emprestimo.valor_multa %>
  </p>

</div>
